{% extends 'base.html' %}
{% block home_active %}active{% endblock %}
{% block title %}Cfit App {% endblock %}

{% block main_content %}
      <div class="row-fluid">
        <div class="well">
            <h1>Dashboard</h1>
            <h4>Parametros de busca:</h4>

            <p><form action="{% url 'home' %}" method="GET">
            Data de Inicio:
            <input type="text" class="span2" placeholder="Insira a data" id="dataInicio" name="dataInicio" data-date-format="dd-mm-yyyy">
            Data Fim:
            <input type="text" class="span2" placeholder="Insira a data" id="dataFim" name="dataFim" data-date-format="dd-mm-yyyy">
            <input type="submit" value="Filtrar" class="btn" style="margin-top: -12px;"/>
            </form></p>
        </div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>00</th>
                        <th>01</th>
                        <th>02</th>
                        <th>03</th>
                        <th>04</th>
                        <th>05</th>
                        <th>06</th>
                        <th>07</th>
                        <th>08</th>
                        <th>09</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for dia in tabelaPedidos %}
                    <tr class="{% if dia.25 > 100 %}success
                                {% elif dia.25 > 75 %}info
                                {% elif dia.25 > 50 %}warning
                                {% elif dia.25 > 25 %}error
                                {% endif %}">

                        {% for horaPedido in dia %}
                            <td>{{ horaPedido }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
      </div>
{% endblock %}