<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/commom.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" media="screen">

</head>
<body>
    <div class="container-fluid">
     <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="{% block home_active %}{% endblock %}"><a href="{% url 'home' %}">Home</a></li>
          <li class="{% block exportar_active %}{% endblock %}"><a href="{% url 'exportar' %}">Exportar</a></li>
          <li class="{% block contato_active %}{% endblock %}"><a href="{% url 'faturamento' %}">Faturamento</a></li>
          <li class="{% block importar_active %}{% endblock %}"><a href="{% url 'importar' %}">Importar</a></li>
          <li class=""><a href="{% url 'logout' %}">Sair</a></li>
        </ul>
         <a href="{% url 'home' %}"><img src="http://www.centralfit.com.br/skin/frontend/fortis/default/images/logo.png" alt="LogoCentralfit"/></a>
        <h6 class="muted">{% if usuario %}Olá, {{ usuario }}{% endif %}</h6>
     </div>

    <hr>
    {% block main_content %}

    {% endblock %}
    <hr>

    <div class="footer">
        <p>&copy; Centralfit 2013</p>
    </div>

    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/commom.js"></script>

</body>
</html>