{% extends 'base.html' %}
{% block faturamento_active %}active{% endblock %}
{% block title %}Cfit App - Faturamento{% endblock %}

{% block main_content %}
    <div class='well'>
        <h4>Tabela de faturamento</h4>

        <hr>

        <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th># Pedidos</th>
                        <th>Vlr Bruto faturado</th>
                        <th>Receita Frete</th>
                        <th>Vlr Desconto</th>
                        <th>Vlr Bonificado</th>
                        <th>Vlr Liquido Produto</th>
                        <th>Custo Produtos</th>
                        <th>Vlr Frete</th>
                        <th>Vlr Taxa Cartão</th>
                        <th>Margem bruta (Produtos)</th>
                        <th>Margem bruta (Cartão + Frete)</th>
                        <th>Tkt Médio</th>
                        <th># Produtos pedido</th>
                    </tr>
                </thead>
                <tbody>
                {% for dia in tabelaFaturamento %}
                    <tr class="">
                        {% for value in dia %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}