{% extends 'base.html' %}
{% block importar_active %}active{% endblock %}
{% block title %}Cfit App - Importar{% endblock %}

{% block main_content %}
    {% if status == 'importacaoSucesso' %}
        <div class='well'>
        <p>Status: {{ status }}</p>
        <p>Quantidade importada: {{ quantidadeImportada }}</p>
        {% if naBase > 0 %}
            <p>Quantidade já na base: {{ naBase }} </p>
        {% endif %}
        </div>
    {% elif status == 'atualizadoSucesso' %}
        <div class='well'>
            <p>Status: {{ status }}</p>
            <p>Quantidade importada: {{ quantidadeAtualizada }}</p>
        </div>
    {% endif %}
    <div class='well'>
        <h4>Modos de importação</h4>
        <hr>
            <form action="{% url 'importarProdutos' %}" method="POST">
                {% csrf_token %}
                <span class="help-block">Importa todos os <strong>produtos</strong> para atualizar a base</span>
                <button type="submit" class="btn">Importar Produtos</button>
            </form>
        <hr>
            <form action="{% url 'atualizarProdutosCusto' %}" method="post" enctype="multipart/form-data">
                <span class="help-block">Importa os <strong>custos</strong> de todos os produtos da base</span>
                <span class="help-block">Utilizar tabela do excel (.xlsx)</span>
                {% csrf_token %}
                <input type="file" value="title" name="docfile" id="title" />
                </p>
                <p><input type="submit" class="btn" value="Upload" /></p>
            </form>
        <hr>
        <form action="{% url 'importarPedidos' %}" method="POST">
            {% csrf_token %}
            <span class="help-block">Importa todos os <strong>pedidos</strong> para atualizar a base</span>
            <p>
            Data de Inicio:
            <input type="text" name='dataInicio' class="span2" value="Insira a data" id="dataInicio" data-date-format="dd-mm-yyyy">
            Data Fim:
            <input type="text" name='dataFim' class="span2" value="Insira a data" id="dataFim" data-date-format="dd-mm-yyyy"></p>
            <button id="importarProdutos" type="submit" class="btn">Importar Pedidos</button>
        </form>
        <hr>
        <a href="{% url 'atualizarPedidosBoleto' %}">Atualizar status pedidos de boleto (- 7 dias)</a>
    </div>
{% endblock %}