{% extends 'base.html' %}
{% block pedido_active %}active{% endblock %}
{% block title %}Cfit App - CMM{% endblock %}
{% load extras %}

{% block main_content %}
    <div class='well'>
        <h4>Tabela Planejamento de Pedidos</h4>

        <div style="width: 100%;">
            <p class="" style="float:left;">

                <form action="{% url 'pedidos' %}" method="GET">
                    <strong>Marca:</strong>

                    <select type="text" name="marca" class="">
                        {% for brand in brands %}
                            <option value="{{ brand }}">{{ brand }}</option>
                        {% endfor %}
                    </select>

                    <strong>Sku:</strong> <input type="text" name="sku" class="input-small" />
                    <strong>Nome:</strong> <input type="text" name="nome" class="input-small" />
                    <strong>Status:</strong> <select name="status" class="">
                        <option value="1">Habilitado</option>
                        <option value="0">Desabilitado</option>
                    </select>

                    <input class="btn" type="submit" value="Filtrar" />
                </form>

                <form action="{% url 'exportar_lista_produto_fornecedor' %}">
                    <input class="btn" type="submit" value="Exportar lista filtrada" />
                </form>

            </p>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                 <tr>
                    <th><a href="?{% url_replace request 'order_by' 'sku' %}">Código</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'name' %}">Nome</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'brand' %}">Marca</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'estoque_disponivel' %}">Estoque disponivel</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'cmm' %}">CMM</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'vmd' %}">VMD</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'margem' %}">Margem</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'quantidade_excedente' %}">Quantidade Excedente</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'quantidade_faltante' %}">Quantidade Faltante</a></th>
                 </tr>
            </thead>
            <tbody>
            {% for item in itens %}
                 <tr class="">
                     <form action="{% url 'pedidos' %}" method="POST">
                        {% csrf_token %}
                        <td>{{ item.sku }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.brand.name }}</td>
                        <td>{{ item.estoque_disponivel|floatformat:0 }}</td>
                        <td>R$ {{ item.cmm|floatformat:2 }}</td>
                        <td>{{ item.vmd|floatformat:3 }}</td>
                        <td>{{ item.margem|floatformat:2 }}</td>
                        <td>{% if item.quantidade_excedente %} {{ item.quantidade_excedente }}{% endif %}</td>
                        <td>{% if item.quantidade_faltante %} {{ item.quantidade_faltante|remove_minus_sign }}{% endif %}</td>
                     </form>
                 </tr>
            {% empty %}
                <tr>Sem itens</tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if itens.has_previous %}
                    <a href="?{% url_replace request 'page' itens.previous_page_number %}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ itens.number }} de {{ itens.paginator.num_pages }}.
                </span>

                {% if itens.has_next %}
                    <a href="?{% url_replace request 'page' itens.next_page_number %}">Próximo</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}